<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BLOG</title>
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <div class="panel">
          <h2>menuリスト</h2>
          <form action="" method="post">
            <p>メールアドレス</p>
            <!-- メールアドレスの入力欄を作成してください -->
            <input type="text" name="email" />

            <p>パスワード</p>
            <!-- パスワードの入力欄を作成してください -->
            <input type="password" name="password" />
            <input type="submit" value="ログイン" />
            <a href="/" class="top-button">トップにもどる</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
