body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  width: 80%;
}
li {
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
}

.list-groups {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-top: 10px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.holdarea {
  /* display: flex; */
  padding: 10px;
}
.category-orange {
  border-left-color: orange;
  border-left-width: 20px;
}

.category-green {
  border-left-color: green;
  border-left-width: 20px;
}

.category-blue {
  border-left-color: blue;
  border-left-width: 20px;
}

.category-red {
  border-left-color: red;
  border-left-width: 20px;
}
